.App {
  text-align: center;
  height: 100vh;
  background-color: #87cbe6;
  width: 100%;
  overflow-x: hidden;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: #37b9ec;
  text-align: center;
}
